.dialogSize {
    min-width: 500px;
    min-height: 350px;
}

.elemSize {
    min-height: 50px;
}

.pickers {
    min-height:50px;
    max-height:100px;
}

.checkBoxes {
    min-height: 50px;
    max-height: 80px;
}

.clearButton {
    margin: 0;
    width: 100%;
}