.pickersSize {
    min-height:50px;
    max-height:150px;
}

.checkBoxesContent {
    min-height: 50px;
    max-height: 100px;
}

.clearButton {
    margin: 0;
    width: 100%;
}

/* Used to align time-picker with date-picker */
.alignPicker {
    margin-left: 0;
    padding-top: 18px;
}

/* When screen width < 600px */
@media only screen and (max-width: 600px) {

    .alignPicker {
        margin-left: 17%;
    }
    .alignDate {
        margin-left: 15%;
    }
}