md-dialog(flex='grow', aria-label="dialog")
    md-toolbar.md-toolbar-tools
        span Export
        span(flex)
        md-button.md-icon-button(ng-click='vm.dialogCancel()')
            md-icon close
    md-dialog-content.md-dialog-content
        form(name='mainForm', novalidate='')
            div(layout='row', layout-align='space-between center', flex='')
                h4 Export Type:
                md-select.md-no-underline(ng-model='vm.selectedExportType', placeholder='Export Type', required)
                    md-option(ng-repeat='expType in vm.object.exportTypes', ng-value='expType') {{expType}}
            md-divider
            div(layout='row', layout-align='space-between center', flex='')
                h4 Reading Type:
                md-select.md-no-underline(ng-model='vm.selectedReadingTypes', placeholder='Reading Type', multiple='', required)
                    md-option-empty
                        md-button.md-primary.clearButton(ng-click='vm.clearReadingTypes()') Clear
                    md-option(ng-repeat='type in vm.object.readingTypes', ng-value='type') {{type}}
            md-divider
            md-content.pickersSize(layout-gt-xs='column')
                div(layout-gt-xs='row', layout-xs='column', layout-align-gt-xs='space-between center', layout-align-xs='start')
                    div(flex-gt-sm='25', flex-sm='10')
                        h4 Start:
                    div(flex='')
                        md-datepicker.alignDate(ng-model='vm.startDate',
                                    md-placeholder='Enter date', required)
                    div.alignPicker(flex='')
                        mdp-time-picker(ng-model='vm.startTime', required)
                div(layout-gt-xs='row', layout-xs='column', layout-align-gt-xs='space-between center', layout-align-xs='start')
                    div(flex-gt-sm='25', flex-sm='10')
                        h4 End:
                    div(flex='')
                        md-datepicker.alignDate(ng-model='vm.endDate',
                            md-placeholder='Enter date', required)
                    div.alignPicker(flex='')
                        mdp-time-picker(ng-model='vm.endTime', required)
            md-divider
            div(layout='row', layout-align='space-between center', flex='')
                h4 Sensors:
                md-radio-group(ng-model='vm.radio', layout='row', layout-align='space-between center', , required)
                    md-radio-button.md-primary(ng-value="'All'") All
                    md-radio-button.md-primary(ng-value="'Select'") Select
            div.checkBoxesContent(ng-if='vm.radio === "Select"', layout='row', flex='')
                md-content(flex='')
                    md-grid-list(md-cols-lg='5', md-cols-md='4',md-cols-sm='3', md-cols-xs='2', md-row-height='50px')
                        md-grid-tile(ng-repeat='sensor in vm.object.sensors')
                            md-checkbox.md-primary(style='width:25px;', ng-click='vm.addSensor(sensor)') {{sensor}}
            md-dialog-actions(layout='row', layout-align = 'center center', style='margin-top:40px')
                md-button.md-raised.md-primary(ng-click='vm.dialogCancel()') Cancel
                md-button.md-raised.md-primary(ng-disabled='mainForm.$invalid || (vm.selectedSensors.length === 0 && vm.radio !== "All")', ng-click='vm.exportJson()') Export