doctype html
html(lang='eng')
    head
        base(href= '/')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(rel='stylesheet', href='angular-material/angular-material.min.css')
        script(src='angular/angular.min.js')
        script(src='angular-material/angular-material.min.js')
        script(src='angular-animate/angular-animate.min.js')
        script(src='angular-aria/angular-aria.min.js')
        script(src='app.js')
        script(src='components/dialog/dialog-controller.js')
        script(src='components/dialog/dialog-component.js')
        title MainApp

    body(ng-app= 'mainApp')
        dialog-comp
        md-content
            hr
            div(layout='row',layout-sm="column", layout-wrap)
                md-button.md-icon-button(ng-click='openDialog($event)')
                    md-icon menu
